.header-border{
  border-bottom: #5CB85C;
  border-bottom-style: solid;
  border-bottom-width: 5px;
  box-shadow: 4px, 10px, #5CB85C;
}

.form-control:focus {
  color: #495057;
  background-color: #fff;
  border-color: #5CB85C;
  outline: 0;
  box-shadow: 0 0 0 .2rem rgba(92,184,92,.7);
}